@model sbpc.Timesheet.Models.ExpenseViewModel
@using sbpc.Timesheet.Helpers

<div class="panel panel-primary">
    <div class="panel-heading"><i class="fa fa-edit"></i> <strong>Add/Edit Expense</strong></div>
    <div class="panel-body">
        <form asp-action="SaveExpense" asp-controller="Timesheet" class="expense">
            @Html.HiddenFor(Model => Model.Id)
            <div class="form-group">
                <label class="control-label"><strong>Choose a Date:</strong></label>
                <input class="form-control" type="date" asp-for="Date" value="@Model.Date.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group">
                <span class="control-label">Select Job:</span>
                @Html.DropDownListFor(model => model.JobName, new SelectList(ViewBag.jobList, "Name", "Name"), null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <span class="control-label">Expense:</span>
                <input asp-for="Amount" class="form-control" min="1"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="control-label">Category:</span>
                @Html.DropDownListFor(model => Model.Category, Constants.Categories, null, new { @class = "form-control" })
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="control-label">Method:</span>
                @Html.DropDownListFor(model => Model.Method, Constants.Methods, null, new { @class = "form-control" })
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="control-label">Note:</span>
                <input asp-for="Note" class="form-control"  />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width:100px;"><i class="fa fa-save"></i> Save</button>
            </div>
        </form>
    </div>
</div>