
@{
    ViewData["Title"] = "Employees timesheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var exportAll = false;
}
<div id="wait" class="modal" style="display:none; position:absolute; top:50%; left:50%;"><img src='~/images/pIkfp.gif' /></div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewData["Title"] <br />
            <small>View employees' hours, expenses and mileage for a given time frame.</small>
        </h1>
    </div>
</div>
<div class="row" style="padding:10px;">
    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> please use the filter section to narrow down your search by job, and/or employee.
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-search fa-fw"> </i> <strong>Filters</strong>
            </div>
            <div class="panel-body">
                <form asp-action="Search" asp-controller="Admin" class="search">
                    <div class="form-group">
                        <label class="control-label"><strong>Start Date:</strong></label>
                        <input class="form-control" type="text" id="startDate" name="startDate" value="@ViewBag.startDate.ToString("MM/dd/yyyy")" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"><strong>End Date:</strong></label>
                        <input class="form-control" type="text" id="endDate" name="endDate" value="@ViewBag.endDate.ToString("MM/dd/yyyy")" />
                    </div>
                    <!--choose job-->
                    <div class="form-group">
                        <label class="control-label"><strong>Job:</strong></label>
                        @Html.DropDownList("JobName", (List<SelectListItem>)ViewBag.jobList, null, new { @class = "form-control" })
                    </div>
                    <!--choose employee-->
                    <div class="form-group">
                        <label class="control-label"><strong>Employee:</strong></label>
                        @Html.DropDownList("UserId", (List<SelectListItem>)ViewBag.employeeList, null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control" style="width:100px;"><i class="fa fa-search"></i> Refresh</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div id="TimesheetAdminWidget">
            @await Component.InvokeAsync("TimesheetAdminWidget", new { startDate = ViewBag.startDate, endDate = ViewBag.endDate })
        </div>
    </div>
    <div class="col-md-9 text-right">
        <a href='@Url.Action("Index", "Export", new { startDate = ViewBag.startDate, endDate = ViewBag.endDate})' class="btn btn-primary export"><i class="fa fa-download"> Export</i></a> |
        <label class="form-check-label small">
            @Html.CheckBox("exportAll", exportAll, new { @class = "form-check-input" })
            Export All
        </label>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            init();
            function init()
            {
                $("#hourtable").DataTable();
                $("#expensetable").DataTable();
                $("#mileagetable").DataTable();
                $('[data-toggle="tooltip"]').tooltip();
                $("#startDate, #endDate").datepicker();
                $("form.search").validate({
                    rules: {
                        startDate: {
                            required: true,
                            date: true
                        },
                        endDate: {
                            required : true,
                            date: true
                        }
                    },
                    messages: {
                        startDate: {
                            required: "Please enter start date.",
                            date: "please provide a valid start date."
                        },
                        endDate: {
                            required: "Please enter end date.",
                            date: "please provide a valid end date."
                        },
                    }

                });
            }
            $(document).on("submit", "form.search", function () {
                event.preventDefault();
                val = Date.parse($("#startDate").val());
                val1 = Date.parse($("#endDate").val());
                if (!isNaN(val) && !isNaN(val1)){
                    $("#wait").modal("show");
                    $.post("@Url.Action("Search","Admin")", $(this).serialize(), function (data) {
                        $("#TimesheetAdminWidget").html(data);
                        $("#wait").modal("hide");
                        init();
                     });
                }
            });

            $(document).on("click", ".form-check-input", function () {
                $("a.export").attr("href", $("a.export").attr("href") + "&exportAll=" + $(this).is(":checked"));
            });
        });
    </script>
}