@model List<ItemViewModel>
@using sbpc.Timesheet.Helpers
@{
    ViewData["Title"] = "Export Timesheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wait" class="modal" style="display:none; position:absolute; top:50%; left:50%;"><img src='~/images/pIkfp.gif' /></div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewData["Title"] <br />
            <small>Assign items to each job/employee pair.</small>
        </h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Export" asp-action="Export" class="export">
            @Html.AntiForgeryToken()
            <input type="hidden" name="startDate" value="@ViewBag.startDate" />
            <input type="hidden" name="endDate" value="@ViewBag.endDate" />
            <input type="hidden" name="jobName" value="@ViewBag.jobName" />
            <input type="hidden" name="exportAll" value="@ViewBag.exportAll.ToString().ToLower()" />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Employee
                        </th>
                        <th>
                            Job
                        </th>
                        <th>
                            Item
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @if (Model != null && Model.Any())
                {
                    <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.TextBox($"Items[{i}].Employee", Model[i].Employee, new { @readonly = "readonly", @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBox($"Items[{i}].Job", Model[i].Job, new { @readonly = "readonly", @class = "form-control" })
                                </td>
                                @if (String.CompareOrdinal(Model[i].Job, Constants.PItem.PaidTimeOff) == 0)
                                {
                                    <td>
                                        @Html.DropDownList($"Items[{i}].Type", (IEnumerable<SelectListItem>)ViewBag.Items, Constants.PItem.PaidTimeOff, new { @disabled = "disabled", @class = "form-control" })
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DropDownList($"Items[{i}].Type", (IEnumerable<SelectListItem>)ViewBag.Items, null, new { @class = "form-control" })
                                    </td>
                                }
                            </tr>
                        }
                        <tr>
                            <td colspan="3" class="form-group">
                                <button type="submit" class="btn btn-primary" style="width:100px;"><i class="fa fa-download"></i> Export</button>
                            </td>
                        </tr>
                    </tbody>
                }
                else
                {
                    <tbody>
                        <tr><td colspan="3" class="alert alert-warning">System was unable to find new records to export.</td></tr>
                    </tbody>
                }
            </table>
        </form>
    </div>

</div>
