@model IEnumerable<sbpc.Timesheet.Models.AccountViewModels.UserViewModel>
@using sbpc.Timesheet.Helpers
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-users fa-fw"></i><strong> All Employees</strong>
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="usersTable">
                    <thead>
                        <tr>
                            <th>
                                Email
                            </th>
                            <th>
                                Full Name
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Role
                            </th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    @if (Model != null)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @($"{item.FirstName} {item.MiddleName} {item.LastName}")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>
                                    <td>
                                        @(item.IsEnabled ? "Yes" : "No")
                                    </td>
                                    <td>
                                        <a href="#" data-user="@item.UserName" class="edit-user">Edit</a>
                                        @if (string.Compare(item.Role, Constants.Role.MasterAdmin) != 0 && !item.IsEnabled)
                                        { <span>|</span>
                                        <a href="#" data-user="@item.UserName" class="delete-user">Delete</a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="EmployeeWidget">
        @await Component.InvokeAsync("EmployeeWidget")
    </div>
</div>

